* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
  font-family: "Lexend Deca", serif;
  background-color: var(--snow);
}
:root{
--yellow: #FCB72B;
--Dark-Navy:#495567;
--Blue-Dark:#333A44;
--Dim-Grey: #939CAA;
--Light-Grey:#E5ECF4;
--snow: #F2F5F9;
--Light-Yellow: #FFF4DF;

--space-mono:'Space mono', monospace;
--lexend-deca: 'Lexend deca', 'sans-serif';

--h1-mobile:40px;
--h2--mobile:32px;
--h2--tablet:48px;
--h3-mobile:24px;
--h4-mobile:20px;

--line-height-m:25px;
--line-height-l:28px;
--line-height-xl:40px;
--letter-spacing-s:-1.7px;

--font-weigth-bold:700;

--text-m:15px;

--margin-bottom-s:24px;
--margin-bottom-m:34px;
--margin-bottom-l:48px;


}
.menu{
  position: absolute;
  top: 64px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 64px 32px 24px;
  width: 256px;
  height: calc(100vh - 64px);
  background-color:var(--Blue-Dark);
  color: var(--snow);
  translate: -100%;
  transition: translate 0.3s;
  z-index: 10;
}
@media screen and (width >=768px){
  .menu{
    flex-direction: row;
    justify-content: center;
    translate: 0;
    background-color:transparent;
    top: -34px;
    color: var(--Dim-Grey);
    width: 523px;
    right: 0;
  }
}
.menu-show{ 
translate:0;
}
.header{
  position: relative;
}
.top-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  height:64px ;
}
@media screen and (width >=768px){
  .top-bar{
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 96px;
    padding-inline: 40px;
  }
}
.hamburger{
  position: absolute;
  left: 32px;
  top: 24px;
}
@media screen and (width >=768px){
  .hamburger{
    display: none;
  }
}

.banner{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 650px;
  background-image: url(../assets/images/home-hero-mobile.jpg);
  background-size: 100%;
  padding-inline: 32px;
  margin-bottom: 120px;
}
@media screen and (width >=768px){
  .banner{
    background-image: url(../assets/images/home-hero-tablet.jpg);
    background-repeat: no-repeat;
    padding-inline: 97px;
  }
  .banner:after{
    content: "";
  }
}
.main-title{
  margin: 0;
  font-size: var(--h1-mobile);
  font-family:var(--space-mono);
line-height: var(--line-height-xl);
color: var(--snow);
text-align: center;
letter-spacing: var(--letter-spacing-s);
}

.textM{
  font-size: var(--text-m);
  text-align: center;
  color: var(--snow);
  line-height: var(--line-height-m);
  margin-bottom: var(--margin-bottom-m);
}
.button{
  background-color: var(--yellow);
  width:180px;
  height: 53px;
  font-family: var(--lexend-deca);
  font-size: var(--text-m);
  border: none;
  color: var(--snow);
}
.button-menu{
  display: flex;
  width:180px;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}
@media screen and (width >=768px){
  .button-menu{
    margin-top: 0;
  }
}
.title-h4{
  font-size: var(--h4-mobile);
  font-family: var(--space-mono);
  font-weight: var(--font-weigth-bold);
  margin-bottom: var(--margin-bottom-s);
  color: var(--Dark-Navy);
}
.card-instruction{
  display: flex;
  padding-inline: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--margin-bottom-l);
}
@media screen and (width >=768px){
  .card-instruction{
    flex-direction: row;
    gap: 79px;
    padding-inline: 97px;
  }
}
.instruction-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
@media screen and (width >=768px){
  .instruction-text{
      text-align: left;
      align-items: start;
  }
}

.iconoS{
width:56px ;
margin-bottom: var(--margin-bottom-s);
}
@media screen and (width >=768px){
  .iconoS{
    width: 96px;
  }
}
.textMgrey{
 font-size: var(--text-m); 
 color: var(--Dim-Grey);
 line-height: var(--line-height-m);
  margin-bottom: var(--margin-bottom-m);
  text-align: center;
}
@media screen and (width >=768px){
  .textMgrey{
    text-align: left;
  }
}
.img-redonda{
  position: relative;
  width: 311px;
  border-radius: 160px;
  margin-bottom: 56px;
}
@media screen and (width >=768px){
  .img-redonda{
    width: 445px;
    border-radius: 225px;
  }
}
.arrowDownLeft{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 32px;
  background-image: url(../assets/patterns/left-downward-arrow.svg);
  background-repeat: no-repeat;
  background-position: 32px 150px;
  margin-bottom: 120px;
}
.arrowUpRigth{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 32px;
  background-image: url(../assets/patterns/right-arrow.svg);
  background-repeat: no-repeat;
  background-position: -150px 50px;
  margin-bottom: 120px;
}
.arrowUpLeft{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 32px;
  background-image: url(../assets/patterns/left-downward-arrow.svg);
  background-repeat: no-repeat;
  background-position: 100px -10px;
  margin-bottom: 120px;
}
@media screen and (width >=768px){
  .arrowUpLeft{
    padding-inline:97px ;
  }
}
.title-h2{
  font-size: var(--h2--mobile);
  font-family: var(--space-mono);
  color: var(--Blue-Dark);
  font-weight: var(--font-weigth-bold);
  text-align: center;
  margin-bottom: var(--margin-bottom-s);
}
@media screen and (width >=768px){
  .title-h2{
    font-size: var(--h2--tablet);
  }
}
.textL{
  text-align: center;
  font-size:15px;
  color: var(--Dim-Grey);
  margin-bottom: 40px;
  line-height: 25px;
}